* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

#container {
    box-sizing: border-box;
    margin: 88px auto 137px;
    width: 1120px;
}

#divisor {
    border: 1px solid #D9D9D9;
    width: 1120px;
    
}

p strong {
    color: red;
    font-family: bold;
    font-size: 16px;
    
}

h1 {
    font-size: 48px;
    margin-top: 8px;

}

h2 {
    padding: 2px 0 8px;
    font-size: 36px;
}

#titulo-lista {
    padding: 64px 0;
}

#imagem-descriçao {
    padding: 40px 0;

}

#imagem-descriçao p {
    padding-top: 24px;
    font-style: italic;
    text-align: center;
}

ol {
    background-position: center;
    padding-left: 0;
    
}

li {
    padding: 20px 0 48px;
}

.blue {
    color: blue;
}

.roxo {
    margin: 0;
    padding: 0;
    color: purple;
}

.rosa {
    margin: 0;
    padding: 0;
    color: pink;
}

.laranja {
    margin: 0;
    padding: 0;
    color: orange;
}

footer {
    padding: 40px;
    text-align: center;
}

footer img {
    vertical-align: middle;
}
 